@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "页面出错了";
}
<a asp-controller="home" asp-action="index" class="btn btn-outline-success" style="width:auto">点击返回首页</a>