<?xml version="1.0" encoding="utf-8"?>
<!--单一格式配置方式:独立使用nlog.config文件存储nlog配置信息-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--要写入的目标规则-->
  <targets>
    <!--
    <target name="f1" xsi:type="File" fileName="file1.txt"/>
    <target name="n1" xsi:type="Network" address="tcp://localhost:4001"/>
    <target name="ds" xsi:type="OutputDebugString"/>
    -->
    
    <!--将日志写入文件的具体位置-->
    <target name="allfile" xsi:type="File" fileName="D:\Users\wjc\source\demologs\nlog-all-${shortdate}.log"/>
  </targets>
  
  <!--将日志程序名称映射到目标规则-->
  <rules>
    <!--记录所有日志,包括Microsoft级别-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>